.heading-line{
    width:60px;
    height:2px;
    border-bottom: 2px solid #915005;
    margin-left: 42%;
}
.footer-line{
    width:62px;
    height:2px;
    border-bottom: 2px solid #915005;
    margin-left: 42%;
}
